<!DOCTYPE html>
<html>
  <head>
    <title><%= Birds %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= Birds %> - class!</p>
  </body>
</html>
