<!DOCTYPE html>
<html>
    <body>
   
        
    
    <div class = "containter">
        <h1>Birds</h1>

        <a href = "/birds/create" class = "btn btn-primary"> +  Create</a>



    </div>
</html>
</body>
    